mat-grid-tile {
    background:   rgba(0,0,0,0.3)
  }

  ::ng-deep .mat-form-field-infix{
      width: 545px !important;
      /* text-transform: uppercase; */
  }

  table {
    width: 150%;
    margin-top: -25%;
    margin-left: -25%;
    cursor: pointer;
  }

  #mat-header-row:hover{
    background-color:white !important;
  }

  tr:hover{
    background-color:lightyellow;
  }

  mat-paginator{
    width: 149.8%;
    margin-left: -25%;
  }

  mat-icon{
    color:red;
  }

  .familyMemberForm{
    background-color:hsl(220, 33%, 98%);
    width: 90%;
    height: 95%;
    margin: 10px;
    margin-top: 1.5%;
    padding: 2% !important;
    padding-top: 4% !important;
  }

  mat-grid-list{
    height: 500%;
  }

  button[type=button].btn{
    border-radius: 20px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border: white;
}

  /* input.form-control,input.form-control:focus{
    background-color: white !important;
    color: black;
    border: 1px solid #636b7b;
} */
