<div class="container-fluid pt-4 "> 
    <mat-grid-list class="matGrid" cols="2" rowHeight="33rem">
        <mat-grid-tile>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> UserName </th>
                    <td mat-cell *matCellDef="let element" (click)="populateForm(element.id,element.userName,element.mobileNo,element.work,element.income)"> {{element.userName}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef> MobileNo </th>
                    <td mat-cell *matCellDef="let element" (click)="populateForm(element.id,element.userName,element.mobileNo,element.work,element.income)"> {{element.mobileNo}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="work">
                    <th mat-header-cell *matHeaderCellDef> Work </th>
                    <td mat-cell *matCellDef="let element" (click)="populateForm(element.id,element.userName,element.mobileNo,element.work,element.income)"> {{element.work}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="income">
                    <th mat-header-cell *matHeaderCellDef> Income </th>
                    <td mat-cell *matCellDef="let element" (click)="populateForm(element.id,element.userName,element.mobileNo,element.work,element.income)"> {{element.income}} </td>
                  </ng-container>

                   <!-- Symbol Column -->
                   <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef [hidden]="true"> Id </th>
                    <td mat-cell *matCellDef="let element" (click)="populateForm(element.id,element.userName,element.mobileNo,element.work,element.income)" [hidden]="true"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>
              </div>
              
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="p-5 familyMemberForm">
                <form #formData="ngForm" 
                      autocomplete="off" 
                      (ngSubmit)="onSubmit(formData)" 
                      novalidate>
                    <input type="hidden" 
                           name="id"
                           value="service.formData.id">
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Enter UserName</mat-label>
                            <input matInput 
                                   placeholder="UserName" 
                                   name="userName" 
                                   #userName="ngModel"
                                   [(ngModel)]="service.formData.userName"
                                   required
                                   minlength="3">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Enter 10 Digit MobileNo</mat-label>
                            <input matInput 
                                   placeholder="Enter 10 Digit MobileNo" 
                                   name="mobileNo" 
                                   #userName="ngModel"
                                   [(ngModel)]="service.formData.mobileNo"
                                   required
                                   minlength="10"
                                   maxlength="10"
                                   pattern="\d{10}">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Enter Work</mat-label>
                            <input matInput 
                                   placeholder="Work" 
                                   name="work" 
                                   #userName="ngModel"
                                   [(ngModel)]="service.formData.work"
                                   required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Enter Income</mat-label>
                            <input matInput 
                                   placeholder="Enter Income" 
                                   name="income" 
                                   #userName="ngModel"
                                   [(ngModel)]="service.formData.income"
                                   required
                                   pattern="\d*">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Enter Password</mat-label>
                            <input matInput 
                                   placeholder="Enter Password" 
                                   name="password" 
                                   #userName="ngModel"
                                   [(ngModel)]="service.formData.password"
                                   required
                                   minlength="4"
                                   maxlength="7">
                        </mat-form-field>
                    </p>
                    
                    <button type="submit" class="btn btn-lg btn-block" [disabled]="formData.invalid">Submit</button>
                    <button type="button" class="btn btn-lg btn-block" (click)="clearForm(formData)">Clean Form</button>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>